<div class="dash">
    <div class="">Let's create some <b>Videos!</b></div>

    <div class="d-flex justify-content-between mt-2">
        <div class="card optionCard1">
            <div class="card-body optionCard">
                <div class="d-flex align-items-center">
                    <div class="createIcon">
                        <i class="fa-regular fa-bell"></i>
                    </div>
                    <div class="title">
                        Create Project
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card optionCard1 ">
            <div class="card-body optionCard">
                <div class="d-flex align-items-center">
                    <div class="recordIcon">
                        <i class="fa-solid fa-video"></i>
                    </div>
                    <div class="title">
                        Record Video
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card optionCard1 ">
            <div class="card-body optionCard">
                <div class="d-flex align-items-center">
                    <div class="liveIcon">
                        <i class="fa-brands fa-discord"></i>
                    </div>
                    <div class="title">
                        Go Live
                    </div>
                </div>
                
            </div>
        </div>
        <div class="card  optionCard1">
            <div class="card-body optionCard">
                <div class="d-flex align-items-center">
                    <div class="RecordIcon">
                        <i class="fa-solid fa-microphone-lines"></i>
                    </div>
                    <div class="title">
                        Record Podcast
                    </div>
                </div>
                
            </div>
        </div>

      
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
        <div>My Recent Video</div>
        <div class="me-3">All Video&nbsp;<span><i class="fa-solid fa-angle-right"></i></span> </div>
    </div>

    <div class="d-flex justify-content-around">
        <div class="mt-2">
            <div class="">
                <img class="avatar recentVideo" src="../../../assets/8.jpg"/>
            </div>
            <div >
                <span class="time">
                    00.30
                </span>
            </div>
            <div class="d-flex flex-column">
                <div>
                    <span class="videoTitle">My First Video</span>
                </div>
                
                    <span class="videoTime">10 Minutes ago</span>
                
            </div>
           
        </div>
        <div class="mt-2">
            <div class="">
                <img class="avatar recentVideo" src="../../../assets/2.jpg"/>
            </div>
            <div >
                <span class="vtime">
                    00.40
                </span>
            </div>
            <div class="d-flex flex-column">
                <div>
                    <span class="videoTitle">My First Video</span>
                </div>
                
                    <span class="videoTime">10 Minutes ago</span>
                
            </div>
           
        </div>

        <div class="mt-2">
            <div class="">
                <img class="avatar recentVideo" src="../../../assets/3.jpg"/>
            </div>
            <div >
                <span class="v3time">
                    00.50
                </span>
            </div>
            <div class="d-flex flex-column">
                <div>
                    <span class="videoTitle">My First Video</span>
                </div>
                
                    <span class="videoTime">10 Minutes ago</span>
                
            </div>
           
        </div>
    </div>
</div>
