.logo{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
}
.namIcon{
    background-color: rgb(110, 231, 110);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 0.5rem;
}

.menu ul li{
    list-style: none;
    margin-bottom: 0.9rem;
    cursor: pointer;
   
}

.menu ul{
    padding-left: 0.5rem;
    margin-top: 1rem;
}

.menu ul li.active .show-active {
    border: 1px solid rgb(248, 245, 245);
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.2rem;
     /* padding: .5rem; */
     cursor: pointer;
     width: 12rem;
    background-color: rgb(193, 191, 191);
    color:white;
  }

  .createButtons{
    width: 10rem;
    margin-left: 1rem;
  }


.main-card{
    height: 100vh;
    /* margin-top: 3rem; */
    box-shadow: rgba(88, 88, 88, 0.1) 0px 3px 6px,
    rgba(124, 122, 122, 0.1) 0px 3px 6px;
}


.createButtons{
    background-color: rgb(105, 105, 243);
    color: white;
    font-weight: 600;
}
