<div class="mt-2">
    <div class="row">
        <div class="col-4">
            <div class="card editorcard">
                <div class="card-header border-0 bg-white">
                    <h5>Project Settings</h5>
                </div>
                <div class="card-body">
                    <div>
                        <label class="title">Size</label>
                        <div class="card editorcard p-2">

                            <div class="w-100">
                                <select class="border-0 w-100 textclr subTitle channelRoles">
                                    <option class="textclr subTitle channelRoles" value="">
                                        Original(20.04)
                                    </option>
                                    <option class="textclr subTitle channelRoles" value="">
                                        Medium(15.03)
                                    </option>
                                    <option class="textclr subTitle channelRoles" value="">
                                        High(30.04)
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div>
                        <label class="title">Background</label>
                        <div class="card editorcard">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="flexRadioDefault2" checked>
                                                <label class="form-check-label subTitle" for="flexRadioDefault2">
                                                    Color
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class=""><span class="subTitle">#0000</span>&nbsp;<i class="fa-solid fa-fill-drip"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="flexRadioDefault2">
                                                <label class="form-check-label subTitle" for="flexRadioDefault2">
                                                    Upload
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="upload"><span>Upload</span>&nbsp;<i
                                                    class="fa-solid upload fa-cloud-arrow-up"></i></div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div>
                        <label class="title" >Emoji</label>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="card editorcard emojicard">
                                <div class="card-body">
                                    <div>
                                        <img class="avatar emoji" src="../../../assets/smile.jpg" />
                                    </div>
                                </div>


                            </div>
                            <div class="card editorcard emojicard">
                                <div class="card-body">
                                    <div>
                                        <img class="avatar emoji" src="../../../assets/style1.jpg" />
                                    </div>
                                </div>


                            </div>
                            <div class="card editorcard emojicard">
                                <div class="card-body">
                                    <div>
                                        <img class="avatar emoji" src="../../../assets/sad.jpg" />
                                    </div>
                                </div>

                            </div>
                            <div class="card editorcard emojicard">
                                <div class="card-body">
                                    <div>
                                        <img class="avatar thinkEmoji emoji" src="../../../assets/naught.jpg" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <label class="title">Audio</label>
                        <div class="card editorcard">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="starIcon">
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <div class="d-flex flex-column pt-2">
                                        <div>
                                            <span class="cleanAudio">Clean Audio</span>
                                        </div>
                                        
                                            <span class="RemoveNoise">Remove Background Noise</span>
                                        
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <i class="fa-solid fa-bolt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span class="proname">Project Name</span>
                </div>

                <div class="d-flex">
                    <div class="forwordBack">
                        <i class="fa-solid fa-reply"></i>&nbsp;&nbsp;
                        <i class="fa-solid fa-share"></i>
                    </div>&nbsp;

                    <div>
                        <button class="btn btn-sm  btn-3 doneButtons " type="button">
                            <span class="btn-inner--text ">Done</span>
                            <span class="btn-inner--icon ps-4"><i class="fa-solid fa-check"></i></span>
            
                        </button>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <div>
                    <img class="avatar editPic" src="../../../assets/3.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="card editorcard mt-2 editor">
<div class="card-body">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-around">
          
            <div>
                <span><i class="fa-solid fa-scissors"></i>&nbsp; Split</span>
            </div>
            <div class="ms-3">
                <span><i class="fa-solid fa-circle-plus"></i>&nbsp; Add media</span>
            </div>

            <div class="ms-3">
                <span><i class="fa-solid fa-microphone"></i>&nbsp; Voiceover</span>
            </div>
        </div>

        <div class="d-flex">
            <div class="me-3">
                <span> <i class="fa-solid fa-backward-fast"></i></span>
            </div>
            <div class="ms-2 me-3">
                <span><i class="fa-solid fs-2 fa-play"></i></span>
            </div>
            <div class="ms-3 me-2">
                <span>00.02.12</span>
            </div>
            <div class="ms-2">
                <span> <i class="fa-solid fa-forward-fast"></i></span>
            </div>
        </div>
        <div class="d-flex me-2">
            <div class="me-3">
                <span><i class="fa-solid fa-volume-high"></i></span>
            </div>

            <div class="me-1">
                <span><i class="fa-solid fa-magnifying-glass-minus"></i></span>
            </div>
            <div>
                <input type="range" id="vol" name="vol" min="0" max="50">
            </div>
            <div class="ms-1">
                <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>
            </div>
            <div class="ms-2">
                <span class="title">Fit</span>
            </div>
        </div>
    </div>
</div>
    </div>
</div>